# Desafio 6

Neste desafio, vamos praticar _feature engineering_, um dos processos mais importantes e trabalhosos de ML. Utilizaremos o _data set_ [Countries of the world](https://www.kaggle.com/fernandol/countries-of-the-world), que contém dados sobre os 227 países do mundo com informações sobre tamanho da população, área, imigração e setores de produção.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk

In [2]:
from sklearn.preprocessing import (
    OneHotEncoder, Binarizer, KBinsDiscretizer,
    MinMaxScaler, StandardScaler, PolynomialFeatures
)
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_digits, fetch_20newsgroups
from sklearn.feature_extraction.text import (
    CountVectorizer, TfidfTransformer, TfidfVectorizer
)

In [3]:
# Algumas configurações para o matplotlib.
#%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

In [4]:
countries = pd.read_csv("data/countries.csv")

In [5]:
new_column_names = [
    "Country", "Region", "Population", "Area", "Pop_density", "Coastline_ratio",
    "Net_migration", "Infant_mortality", "GDP", "Literacy", "Phones_per_1000",
    "Arable", "Crops", "Other", "Climate", "Birthrate", "Deathrate", "Agriculture",
    "Industry", "Service"
]

countries.columns = new_column_names

countries.head()

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

## Observações

Esse _data set_ ainda precisa de alguns ajustes iniciais. Primeiro, note que as variáveis numéricas estão usando vírgula como separador decimal e estão codificadas como strings. Corrija isso antes de continuar: transforme essas variáveis em numéricas adequadamente.

Além disso, as variáveis `Country` e `Region` possuem espaços a mais no começo e no final da string. Você pode utilizar o método `str.strip()` para remover esses espaços.

## Inicia sua análise a partir daqui

In [6]:
# Sua análise começa aqui.
countries['Country'] = countries['Country'].str.strip()
countries['Region'] = countries['Region'].str.strip()
countries.head()

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [7]:
countries.head().T

,0,1,2,3,4
Country,Afghanistan,Albania,Algeria,American Samoa,Andorra
Region,ASIA (EX. NEAR EAST),EASTERN EUROPE,NORTHERN AFRICA,OCEANIA,WESTERN EUROPE
Population,31056997,3581655,32930091,57794,71201
Area,647500,28748,2381740,199,468
Pop_density,"48,0","124,6","13,8","290,4","152,1"
Coastline_ratio,"0,00","1,26","0,04","58,29","0,00"
Net_migration,"23,06","-4,93","-0,39","-20,71","6,6"
Infant_mortality,"163,07","21,52",31,"9,27","4,05"
GDP,700,4500,6000,8000,19000
Literacy,"36,0","86,5","70,0","97,0","100,0"
Phones_per_1000,"3,2","71,2","78,1","259,5","497,2"
Arable,"12,13","21,09","3,22",10,"2,22"
Crops,"0,22","4,42","0,25",15,0
Other,"87,65","74,49","96,53",75,"97,78"
Climate,1,3,1,2,3
Birthrate,"46,6","15,11","17,14","22,46","8,71"
Deathrate,"20,34","5,22","4,61","3,27","6,25"
Agriculture,"0,38","0,232","0,101",NaN,NaN
Industry,"0,24","0,188","0,6",NaN,NaN
Service,"0,38","0,579","0,298",NaN,NaN

In [8]:
variavel_float = ["Pop_density", "Coastline_ratio", "Net_migration", "Infant_mortality", "Literacy", 
                  "Phones_per_1000", "Arable", "Crops", "Other", "Climate", "Birthrate", "Deathrate", 
                  "Agriculture", "Industry", "Service"]

for coluna in variavel_float:
    countries[coluna] = countries[coluna].replace(regex='\,', value='.')
    countries[coluna] = countries[coluna].astype(float)

## Questão 1

Quais são as regiões (variável `Region`) presentes no _data set_? Retorne uma lista com as regiões únicas do _data set_ com os espaços à frente e atrás da string removidos (mas mantenha pontuação: ponto, hífen etc) e ordenadas em ordem alfabética.

In [9]:
def q1():
    regioes = np.sort(countries['Region'].unique())
    return list(regioes)

q1()

['ASIA (EX. NEAR EAST)',
 'BALTICS',
 'C.W. OF IND. STATES',
 'EASTERN EUROPE',
 'LATIN AMER. & CARIB',
 'NEAR EAST',
 'NORTHERN AFRICA',
 'NORTHERN AMERICA',
 'OCEANIA',
 'SUB-SAHARAN AFRICA',
 'WESTERN EUROPE']

## Questão 2

Discretizando a variável `Pop_density` em 10 intervalos com `KBinsDiscretizer`, seguindo o encode `ordinal` e estratégia `quantile`, quantos países se encontram acima do 90º percentil? Responda como um único escalar inteiro.

In [10]:
def q2():
    discretizar = KBinsDiscretizer(n_bins=10, encode='ordinal',  strategy='quantile')
    discretizar.fit(countries[['Pop_density']])
    resposta = discretizar.transform(countries[['Pop_density']])
    resposta = sum(resposta[:, 0] == 9)
    return int(resposta)
    
q2()

23

# Questão 3

Se codificarmos as variáveis `Region` e `Climate` usando _one-hot encoding_, quantos novos atributos seriam criados? Responda como um único escalar.

In [11]:
def q3():
    regioes = np.sort(countries['Region'].unique())
    valor = len(regioes)
    clima = countries['Climate'].unique()
    valor += len(clima)
    return valor

q3()

18

In [12]:
copia_country = countries.copy()

In [13]:
num_pipeline = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ('scale', StandardScaler())
])

In [14]:
numeric_features = copia_country.select_dtypes(include=[np.number])
numerical_variable = copia_country.select_dtypes(include=['int64', 'float64']).columns
categorical_variable = copia_country.select_dtypes(include=['object', 'bool']).columns

In [15]:
numerical_variable

Index(['Population', 'Area', 'Pop_density', 'Coastline_ratio', 'Net_migration',
       'Infant_mortality', 'GDP', 'Literacy', 'Phones_per_1000', 'Arable',
       'Crops', 'Other', 'Climate', 'Birthrate', 'Deathrate', 'Agriculture',
       'Industry', 'Service'],
      dtype='object')

In [16]:
pipeline_transformation = num_pipeline.fit_transform(copia_country[numerical_variable])

pipeline_transformation[:10]

array([[ 1.96946842e-02,  2.75833238e-02, -1.99844336e-01,
        -2.93443424e-01,  4.75079803e+00,  3.63809820e+00,
        -8.96394232e-01, -2.49781686e+00, -1.02749132e+00,
        -1.26360817e-01, -5.18861111e-01,  3.72601687e-01,
        -1.69435818e+00,  2.21296666e+00,  2.25250740e+00,
         1.63657562e+00, -3.15405761e-01, -1.16113540e+00],
       [-2.13876876e-01, -3.18797484e-01, -1.53602957e-01,
        -2.75974351e-01, -1.02509671e+00, -3.92849919e-01,
        -5.16717983e-01,  1.51932689e-01, -7.26078820e-01,
         5.65115164e-01, -1.36038942e-02, -4.47933408e-01,
         1.31636046e+00, -6.27986167e-01, -8.09332600e-01,
         5.95163494e-01, -7.06318151e-01,  8.34243202e-02],
       [ 3.56181070e-02,  9.98420512e-01, -2.20489965e-01,
        -2.92888851e-01, -8.82420407e-02, -1.22886032e-01,
        -3.66845780e-01, -7.13827065e-01, -6.95494316e-01,
        -8.13978114e-01, -5.15252131e-01,  9.26275825e-01,
        -1.69435818e+00, -4.44844401e-01, -9.32859214e-01,
        -3.26626965e-01,  2.39091078e+00, -1.67396905e+00],
       [-2.43833690e-01, -3.34779373e-01, -5.35139144e-02,
         5.14709195e-01, -4.28138891e+00, -7.41695658e-01,
        -1.67016175e-01,  7.02870714e-01,  1.08567862e-01,
        -2.90740709e-01,  1.25916309e+00, -4.16134555e-01,
        -1.88998858e-01,  3.51133333e-02, -1.20421276e+00,
        -3.40700102e-01, -7.48442902e-02,  3.33917689e-02],
       [-2.43719715e-01, -3.34628785e-01, -1.37001939e-01,
        -2.93443424e-01,  1.35418397e+00, -8.90346659e-01,
         9.32046651e-01,  8.60281579e-01,  1.16218186e+00,
        -8.91151773e-01, -5.45326965e-01,  1.00421419e+00,
         1.31636046e+00, -1.20537893e+00, -6.00754875e-01,
        -3.40700102e-01, -7.48442902e-02,  3.33917689e-02],
       [-1.41231151e-01,  3.63018813e-01, -2.22965025e-01,
        -2.91641060e-01, -7.76333603e-03,  4.43887716e+00,
        -7.76496469e-01, -2.18299513e+00, -1.00710165e+00,
        -8.76488777e-01, -5.16455124e-01,  9.77403392e-01,
        -1.88998858e-01,  2.07854241e+00,  3.03416761e+00,
        -3.61809807e-01,  2.82692845e+00, -1.99918063e+00],
       [-2.44210435e-01, -3.34833674e-01, -1.49075407e-01,
         5.35644355e-01,  2.21262349e+00, -4.06803748e-01,
        -1.07067294e-01,  5.97930138e-01,  9.97291494e-01,
        -1.06247729e+00, -5.45326965e-01,  1.14263272e+00,
        -1.88998858e-01, -7.12790729e-01, -7.85032283e-01,
        -7.55857637e-01, -7.66458518e-01,  1.34049217e+00],
       [-2.43737508e-01, -3.34642780e-01, -1.34647613e-01,
         1.85431022e-01, -1.27685060e+00, -4.51512957e-01,
         1.32728232e-01,  2.83108409e-01,  1.39577655e+00,
         3.40539817e-01,  2.03501963e-03, -2.74598487e-01,
        -1.88998858e-01, -4.63790101e-01, -7.78957203e-01,
        -7.69930774e-01, -4.65756680e-01,  1.10909162e+00],
       [ 9.50558417e-02,  1.21402962e+00, -2.20127760e-01,
        -2.90947842e-01,  1.18113612e-01, -5.73395387e-01,
         1.52711192e-01,  7.08117743e-01, -6.47443274e-02,
        -1.12469558e-01, -4.87583283e-01,  3.45167383e-01,
         1.31636046e+00, -4.81833624e-01, -3.37501436e-01,
        -3.68846376e-01,  5.71664662e-01, -1.16705885e-01],
       [-2.19022468e-01, -3.18208568e-01, -1.68513689e-01,
        -2.93443424e-01, -1.34288441e+00, -3.42730041e-01,
        -6.16632786e-01,  7.86823175e-01, -1.74227987e-01,
         2.91920412e-01, -2.68638489e-01, -9.50284961e-02,
         2.82171979e+00, -9.02247730e-01, -1.99799637e-01,
         6.44419473e-01,  4.58901473e-01, -9.23480776e-01]])

## Questão 4

Aplique o seguinte _pipeline_:

1. Preencha as variáveis do tipo `int64` e `float64` com suas respectivas medianas.
2. Padronize essas variáveis.

Após aplicado o _pipeline_ descrito acima aos dados (somente nas variáveis dos tipos especificados), aplique o mesmo _pipeline_ (ou `ColumnTransformer`) ao dado abaixo. Qual o valor da variável `Arable` após o _pipeline_? Responda como um único float arredondado para três casas decimais.

In [17]:
test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

In [18]:
def q4():
    return round(test_country[11], 3)

q4()

0.202

-1.047

## Questão 5

Descubra o número de _outliers_ da variável `Net_migration` segundo o método do _boxplot_, ou seja, usando a lógica:

$$x \notin [Q1 - 1.5 \times \text{IQR}, Q3 + 1.5 \times \text{IQR}] \Rightarrow x \text{ é outlier}$$

que se encontram no grupo inferior e no grupo superior.

Você deveria remover da análise as observações consideradas _outliers_ segundo esse método? Responda como uma tupla de três elementos `(outliers_abaixo, outliers_acima, removeria?)` ((int, int, bool)).

In [19]:
def q5():
    net = countries['Net_migration']
    
    q1 = net.quantile(0.25)
    q3 = net.quantile(0.75)
    iqr = q3 - q1
    fora_intervalo = [q1 - 1.5 * iqr, q3 + 1.5 * iqr]
    
    outliers_abaixo = net[(net < fora_intervalo[0])]
    outliers_acima = net[(net > fora_intervalo[1])]
    
    return (len(outliers_abaixo), len(outliers_acima), False)

q5()

(24, 26, False)

In [20]:
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)

## Questão 6
Para as questões 6 e 7 utilize a biblioteca `fetch_20newsgroups` de datasets de test do `sklearn`

Considere carregar as seguintes categorias e o dataset `newsgroups`:

```
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
```


Aplique `CountVectorizer` ao _data set_ `newsgroups` e descubra o número de vezes que a palavra _phone_ aparece no corpus. Responda como um único escalar.

In [21]:
def q6():
    count_vectorizer = CountVectorizer()
    newsgroups_counts = count_vectorizer.fit_transform(newsgroup.data)
    words_idx = sorted([count_vectorizer.vocabulary_.get(f"{word.lower()}") for word in [u"phone"]])

    telefone = pd.DataFrame(newsgroups_counts[:, words_idx].toarray(), 
                            columns=np.array(count_vectorizer.get_feature_names())[words_idx])
    
    return int(telefone.sum())
    
q6()

213

213

## Questão 7

Aplique `TfidfVectorizer` ao _data set_ `newsgroups` e descubra o TF-IDF da palavra _phone_. Responda como um único escalar arredondado para três casas decimais.

In [22]:
def q7():
    tfidf_vectorizer = TfidfVectorizer()
    tfidf_vectorizer.fit(newsgroup.data)
    words_idx = sorted([tfidf_vectorizer.vocabulary_.get(f"{word.lower()}") for word in [u"phone"]])

    newsgroups_tfidf_vectorized = tfidf_vectorizer.transform(newsgroup.data)
    resposta = pd.DataFrame(newsgroups_tfidf_vectorized[:, words_idx].toarray(), 
             columns=np.array(tfidf_vectorizer.get_feature_names())[words_idx])
    return float(round(resposta.sum(), 3))
q7()

8.888

8.888